*{
    box-sizing: border-box;
}
body{
    background-color: #F2EAD3;
}
.parent{
    margin-left: 15%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns:auto auto auto ;
}
#ph1 img{
    width: 60%;
    border-radius: 50%;
}
#ph2 img {
    width: 60%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); 
  }
#ph3 img{
    width: 60%;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}     
#ph4 img{
    width: 60%;
    border-radius: 50%;
     
}     
#ph5 img{
    width: 60%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}     
#ph6 img{
    width: 60%;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.txt{
    width: 30%;
    position: relative;
    top:-50%;
    left: 12%;
    text-align: justify;
    visibility:hidden;
} 
.image:hover {
    opacity: 60%;
} 
.image:hover .txt {
    visibility: visible; 
} 

  